.primaryColor {
  background: #eb6400 !important;
  color: white !important;
  transition-duration: 1s;
}
input, select, textarea {
  color: inherit;
}input, select, textarea {
  color: black!important;
}
.p-PaymentDetails.p-PaymentElement-content input, .p-PaymentDetails.p-PaymentElement-content select {
  color: rgb(41, 36, 36)!important;
}

input#Field-numberInput,select#Field-countryInput,input#Field-expiryInput {color:black!important}

.p-PaymentDetails.p-PaymentElement-content select {
  color: black!important;
}
select#Field-countryInput {
  color: rgb(41, 36, 36)!important;
}
.primaryColorHover:hover {
  background: #022b58;
  color: white !important;
  transition-duration: 1s;
}
.MuiDrawer-root.MuiDrawer-modal.mainnavmobile {
  background: #0a060699;
}
.MuiDrawer-root.MuiDrawer-modal.mainnavmobile .MuiDrawer-paperAnchorLeft {
  background: #eb6400;
}
.MuiButton-sizeMedium.MuiButton-textSizeMedium {
  color: black!important;
}
.secondaryColor {
  background: #1ED3EB !important;
  color: white !important;
  transition-duration: 1s;
}
.closeicon {
  color: #eb6400!important;
}
.MuiDrawer-root.MuiDrawer-modal.mainnavmobile .MuiDrawer-paperAnchorLeft a {
  color: white!important;
  border-bottom: 1px solid #022b58;
  padding: 6px;
}
.topBar a, .topBar div {
  font-size: 12px;
  color: #070809!important;
  font-weight: 400!important;
}
.secondaryColorHover:hover {
  background: #eb6400 !important;
  color: white !important;
  transition-duration: 1s;
}
.thirdColor {
  color: #e7e7e7 !important;
}
.buttonBlue:hover {
  background: #022b58;
  color: white;
  transition-duration: 1s;
}
.primaryOutline {
  border: 1px solid #eb6400 !important;
  color: #eb6400 !important;
  transition-duration: 1s;
}
.secondaryOutline {
  border: 1px solid #022b58 !important;
  color: #3f51b5 !important;
  transition-duration: 1s;
}
.primaryOutlineButton {
  border: 1px solid #eb6400 !important;
  color: #eb6400 !important;
  transition-duration: 1s;
  background: transparent !important;
}
.primaryOutlineButton:hover {
  background: #eb6400 !important;
  color: white !important;
  transition-duration: 1s;
}
.booking_summary .cancel {
  left: 223px;
  top: -91px;
}
.providers-block.services-bookform svg {
  font-size: 15px;
}
.closedCartdiv {
  position: fixed;
  bottom: 75px !important;
}
.closedCart {
  min-width: 300px;
}
.bookingsummaryblock .MuiGrid-item {
  border-bottom: 1px solid #eb6400;
  padding: 5px;
}
.closedCartdiv svg {
  color: white !important;
}
.disabled {
  color: #c8b7b7 !important;
}
.bookingsummaryblock {
  background-color: #ceb1b1;
  max-width: 300px;
  min-height: 511px;
  position: fixed;
  bottom: 35px;
  left: 0;
  max-width: 299px !important;
}
.secondaryOutlineButton {
  border: 1px solid #022b58 !important;
  color: #3f51b5 !important;
  transition-duration: 1s;
  display: grid !important;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  padding: 1px !important;
}
.aligncenter {
  text-align: center!important;
  margin: auto!important;
  display: table!important;
}
.secondaryOutlineButton:hover {
  background: #022b58 !important;
  color: white !important;
  transition-duration: 1s;
}
.buttonBlue:hover {
  background: white;
  color: #022b58;
  transition-duration: 1s;
}
.weekdaysselect {
  display: table;
}
.serviceImage_div {
  margin-left: -532px;
}
.mainlogo p {
  color: #eb0000 !important;
  position: absolute;
  margin-top: -11px;
  left: 161px;
  transform: rotate(336deg);
  font-size: 9px;
}
.activeMenu {
  background: #022b58 !important;
}
.activeMenu:hover {
  background: #022b58 !important;
}
.serviceImage_upload.buttonBlue {
  bottom: -1px !important;
  position: absolute;
  margin-left: -300px !important;
}
.providerImage_upload.buttonBlue {
  bottom: -4px !important;
  position: absolute;
  margin-left: 0px !important;
}
button.providerImage.buttonBlue.hidemobile.hid {
  position: relative;
  top: -90px;
}
.providerImage_div {
  margin-top: -45px !important;
}
.activeMenu a,
.activeMenu svg {
  color: white !important;
}
.UploadPreview {
    margin-top: 77px;
}

.thirdTextColor {
  color: #000 !important;
  font-weight: 400 !important;
}
.primaryTextColor {
  color: #eb6400 !important;
}
span.rs__cell p {
  font-size: 0.8em;
}
.bold {
  font-weight: 600 !important;
}
.footerTop {
  margin-top: 90px;
}
.secondaryTextColor {
  color: #022b58 !important;
}
.heroText a {
  width: 45%;
  margin: 5px;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: #eb6400;
}

span.rs__cell.rs__header.rs__time {
  width: 60px;
}
.rs__header {
  max-height: 45px !important;
}

span.rs__cell.rs__header.rs__time {
  max-height: 30px !important;
}
form.LoginPage-root-10 {
  margin-top: 100px;
}

.titleOnly {
  margin: auto;
  display: table;
  padding: 0px 21px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}

.bookButton.secondaryColor.MuiButton-textPrimary.MuiButton-textSizeLarge.MuiButton-sizeLarge:hover {
  font-size: 11px;
  background: #022b58 !important;
  color: white !important;
  border: solid 1px #022b58;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.bookButton.secondaryColor.MuiButton-textPrimary.MuiButton-textSizeLarge.MuiButton-sizeLarge {
  font-size: 11px;
  background: white !important;
  color: #022b58 !important;
  border: solid 1px #022b58;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionAbsolute.css-n7rtur-MuiPaper-root-MuiAppBar-root {
  position: fixed;
  top: 108px;
}

.MuiDrawer-root.MuiDrawer-docked.css-cvumne-MuiDrawer-docked a {
  color: rgb(29, 20, 20);
}

a {
  text-decoration: solid;
}
.MuiFormControl-root.MuiTextField-root {
  clear: both;
  float: left;
  width: 100%;
  height: 81px;
}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;
}
.MuiInputBase-root.MuiOutlinedInput-root {
  min-width: 200px;
  margin-bottom: 0px;
}
label.MuiFormLabel-root.MuiFormLabel-colorPrimary.css-u4tvz2-MuiFormLabel-root {
  margin-top: 10px;
}
.MuiButton-textPrimary {
  color: #ffffff !important;
}
.coverImage {
  max-height: 320px;
  max-width: 100%;
}
.filePicker.coverImage {
  width: 100px;
  margin: auto;
  bottom: 199px;
  position: relative;
}

.filePicker.profileImage {
  width: 100px;
  bottom: -29px;
  position: relative;
  left: 26%;
}

/* .booking_summary {
  background: orange !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
} */

.topBar div {
  line-height: 20px;
  padding: 2px 10px;
  color: black !important;
  float: right;
  font-weight: 400;
}
.topBar a {
  font-weight: 600;
}

.profileImage .MuiButton-contained {
  background-color: #fe6a0045;
}
.profileImage .MuiButton-label {
  font-weight: 600;
}

.coverImage .MuiButton-contained {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
  background: transparent !important;
  color: black;
  font-weight: 600;
}
.pagetitle {
  margin: auto;
  /*margin-left: 26%;*/
}
.pagetitle img {
  max-width: 144px;
  margin-bottom: -10px;
}
img.providerImage_grid {
  max-width: 100px;
  max-height: 100px;
  height: 100px;
  width: 100px;
}
img.serviceImage_grid {
  max-width: 100px;
  max-height: 100px;
  height: 100px;
  width: 100px;
}
img.serviceImage_form {
  max-width: 300px;
  max-height: 300px;
  height: 300px;
  width: 300px;
  position: absolute;
}
img.providerImage_form {
  max-width: 300px;
  max-height: 300px;
  height: 300px;
  width: 300px;
  position: absolute;
}

h3.noCoverImage {
  margin: auto;
  position: relative;
  float: none;
  display: table;
}

h3.noProfileImage {
  position: absolute;
  left: 20.1%;
  width: 181px;
  top: 167px;
}

.filePicker.noProfileImage {
  position: relative;
  left: 22.1%;
  width: 181px;
  bottom: 10px;
}
img.serviceImage {
  max-height: 92px;
}

select.countryDropdown,
select.countyDropdown {
  width: 100%;
  height: 56px;
  border-radius: 3px;
  border: 1px solid lightgray;
  margin: 8px 0px 17px;
  font-size: 16px;
  color: gray;
  padding: 8px;
}
label#simple-select-label {
  clear: both;
  width: 100%;
  padding-bottom: 14px;
}
div#simple-select em {
  color: grey;
  font-style: initial;
}
.MuiFormControl-root.MuiTextField-root.descriptionregister {
  min-height: 145px;
}
.MuiInputBase-root.MuiOutlinedInput-root.selectdublinarea {
  min-width: 100%;
  height: 56px;
  top: 8px;
}
.profileLogo.MuiBox-root.css-0 img {
  max-width: 300px;
}
.MuiChip-root.rejected-chip {
  background: #0ec2bb;
}
.MuiChip-root.accepted-chip {
  background: #6bd822e6;
}
.dashboardButton:hover {
  box-shadow: none;
  border: 1px solid black;
  color: white;
  transition-duration: 1s;
}
.loginregisterlinks {
  position: absolute;
  right: 20px;
  color: #fafafa;
}
.loginregisterlinks a {
  background: #eb6400;
  color: #fafafa;
  padding: 10px;
  transition-duration: 1s;
}
.loginregisterlinks a:hover {
  background: #022b58;
  color: white;
  border: 1px solid white;
}
div#simple-select {
  padding: 8.5px 14px !important;
}
.makeStyles-logo-5.MuiTypography-h4 {
  color: white;
}

span.rs__cell {
  max-height: 30px;
}
.MuiPaper-root.pagetitle.primaryTextColor.css-1pyfst.MuiPaper-elevation1.MuiPaper-rounded {
  margin-top: -195px;
}
.iconsmall {
  font-size: 14px;
  margin-bottom: -2px;
}
span.rs__cell.rs__header.rs__time span {
  font-weight: 800;
  color: #eb6400;
}
.css-m1a27h div div:nth-child(2) {
  display: none;
}
.booking_summary {
  background: #eeedd2;
}

.providerNames {
  
  padding: 2px;
  margin: 2px;
  /* float: left;
     */
}
.confirmedbooking {
  line-height: 10px;
  margin-top: 10px;
}
.price {
  border-radius: 5px;
  max-width: 193px;
  margin-top: -23px;
}
.allProviderNames {
  margin: auto;
  align-content: flex-start;
  justify-content: center;
}
.customerDetailsBlock {
  background: white;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-md-6 {
  float: left;
}
.confirmedbooking {
  line-height: 36px;
  padding: 10px 50px !important;
  transition-duration: 2s;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heroText {
  top: 100px;
  position: absolute;
  background: #ffffff94;
  padding: 20px;
  width: 100%;
}

.heroText h1 {
  margin: auto;
  display: table;
}

.filePicker.noCoverImage {
  margin: auto;
  position: relative;
  float: none;
  display: table;
}
.titleOnly {
  margin: auto;
  display: table;
  padding: 22px 19px 0;
  border-bottom: 1px solid;
  margin-bottom: 10px;
  text-align: center;
}
.cateogrieshp .secondaryColor {
  float: left;
  margin: 10px;
  padding: 10px;
  border-radius: 1%;
  border: 7px solid #174b02;
  font-weight: 600;
}
.MuiPaper-root.cateogrieshp.css-1erojb8.MuiPaper-elevation1.MuiPaper-rounded {
  display: flex;
}
.daysroot.css-u10pvi-MuiStack-root {
  float: left;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #eadfdf;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}

/*77777777777777777777777777777777777777777777777777777*/

body {
  position: relative;
  height: 100vh;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

#logo {
  max-height: 500px;
  margin-top: 20px;
}

body {
  background: #010916;
  color: #fff;
}

#logo {
  height: 120px;
}

button {
  font-size: 22px;
  background-color: #101a2c;
  border: 1px solid #4b5763;
  color: #b0b1b3;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 4px;
}

#doc-link {
  position: fixed;
  bottom: 2px;
  right: 10px;
  font-size: 20px;
  color: #fff;
}

.businessInformationCover_div {
  position: absolute;
  top: 69px;
  width: 1904px;
  margin: 16px !important;
}
button.businessInformationCover {
  top: -18px;
  display: table;
  z-index: 1000;
  position: relative;
  left: 0;
  font-size: 12px;
  width: 200px;
  background: #ea6400;
  height: 31px;
  color: white;
  font-weight: 400;
  margin: auto;
}
button.businessInformationProfile_upload {
  background: #eb6400;
  color: white;
  font-weight: 600;
}
button.businessInformationProfile {
  margin: auto;
  margin-top: 15px;
  margin-bottom:24px;
  display: table;
  z-index: 10;
  font-size: 12px;
  width: 200px;
  background: #ea6400;
  height: 31px;
  color: white;
  font-weight: 400;
}
button.businessInformationCover_upload {
  font-size: 16px;
  height: 49px;
  background: #022b58;
  color: white;
  font-weight: 400;
  margin-top: -67px;
  transition-duration: 1s;
  /* position: absolute; */
  left: 0;
  padding: 10px;
  line-height: 32px;
}
.businessInformationProfile_div {
  margin-top: -382px!important;
}
p.businessInformationProfile_explanation {
  position: absolute;
  background: #022b58;
  margin-top: -158px;
  padding: 11px;
  font-weight: 400;
  color: #eb6400;
  letter-spacing: 1.2px;
  right: 0;
}
.floatLeft {
  float: left !important;
}
.saveIcon {
  font-size: 26px;
  padding-top: 6px;
  float: left;
  color: white !important;
}
.makeStyles-logo-21 {
  cursor: pointer;
  flex-grow: 1;
  color: white;
}
.MAINNAVLINKS a:hover {
  color: #eb6400;
  border-bottom: 1px solid white;
  transition-duration: 1s;
}
.MAINNAVLINKS a {
  transition-duration: 1s;
}
a.mainlogo {
  color: white !important;
}
.dashboardpage svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  color: #ffffff;
}
.dashboardpage svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  color: #ffffff;
  font-size: 46px;
  display: flex;
  clear: both;
  margin: auto;
  margin-bottom: 20px;
}
.fullWidth {
  width: 100% !important;
}
.loginform button {
  margin: 0 !important;
}
.loginform {
  margin-top: 100px;
  margin-bottom: 300px;
}
img.heroimage {
  width: 100%;
}

.listservicesimage {
  min-width: 278px;
  min-height: 117px;
  background-position: center !important;
  background-size: cover !important;
}
.onebusiness {
  border: 1px solid lightgoldenrodyellow;
}

@media (min-width: 769px) {
  .bookingsform {
    margin-top: -115px!important;
}
.providersform, .servicesform {
  margin-top: -47px!important;
}
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root {
    color: white!important;
    min-width: 518px;
    background: #1ed3eb;
}
  .dashboardButton {
    border: 1px solid grey;
    padding: 0 18px;
    background: black;
    font-size: 18px;
    line-height: 34px;
    right: 36px;
    position: absolute;
  }

  span.rs__cell.rs__header.rs__time span {
    font-weight: 400;
    color: #eb6400;
    font-size: 10px;
  }

  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    background: #fafafa;
    width: 518px;
    color: #eb6400 !important;
    border: solid 1px #eb6400;
  }
  .listofservices .providerNames {
    margin-top: 14px;
  }
  .listofservices button {
    margin-top: 33px;
}

  .registerform {
    margin-top: 31px;
  }
  .heroText {
    position: absolute;
  }
  .membermenudrawer .MuiDrawer-paperAnchorLeft {
    position: relative !important;
  }
  .profileLogo.MuiBox-root.css-0 {
    position: relative;
    background: #030c73;
    /* padding: 10px; */
    margin-left: 0px;
    border: 3px solid white;
    min-width: 306px;
    max-width: 306px;
    min-height: 306px;
    max-height: 306px;}
  .businesslogocontainer{
    margin: -200px 0 230px;
  }
  .MuiGrid-root.businesslogocontainer.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-3 {
    margin: -200px 0 -23px;
}
.dashboardpage, form.BusinessInformationForm-root-12, .servicesform, .providersform, .bookingsforms {
/*   margin-top: -167px!important;
 */}


}
@media (max-width: 768px) {
  .dashboardpage, form.BusinessInformationForm-root-12, .servicesform, .providersform, .bookingsforms {
    margin-top: 67px!important;
}
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root {
    color: white!important;
    min-width: 318px;
    background: #1ed3eb;
}
  .dashboardButton {
    border: 1px solid grey;
    padding: 0 15px;
    background: black;
    font-size: 10px!important;
    line-height: 34px;
    right: 91px;
    position: absolute;
    background: #e96300!important;
}
  span.rs__cell.rs__header {
    width: 30px;
  }

  span.rs__cell.rs__header.rs__time span {
    font-weight: 400;
    color: #eb6400;
    font-size: 8px;
    z-index: 10;
    margin-left: -32px;
  }

  span.rs__cell {
    width: 30px;
  }

  button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
    padding: 2px;
  }

  span.rs__cell button {
    min-width: 46px;
    color: white;
  }
  .MuiGrid-root.bizinfo.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6 {
    margin-top: 320px !important;
  }
  button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    background: #fafafa;
    width: 244px;
    color: #eb6400 !important;
    border: solid 1px #eb6400;
  }
  .titleOnly {
    margin: auto;
    display: table;
    padding: 32px 21px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
  }
  .loginregisterlinks {
    display: none;
  }
  .titleOnly {
    margin: auto;
    display: table;
    padding: 22px 19px 0;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    width: 266px;
    text-align: center;
    margin-bottom: 20px !important;
  }
  .profileLogo.MuiBox-root.css-0 {
    top: 100px;
  }
  .hidemobile {
    display: none !important;
  }
  .heroText {
    background: #fff7f7;
    position: relative;
    top: 0px;
  }
  .heroText a {
    width: 100%;
    margin: 5px;
  }
  .membermenudrawer .MuiDrawer-paperAnchorLeft {
    position: fixed;
    top: 30%;
    min-height: 400px;
    max-height: 500px;
    border-bottom: 1px solid #eb6400;
  }
  button.MuiButtonBase-root.MuiIconButton-root.mobilemenu {
    color: white;
    position: absolute;
    right: 20px;
  }
  .mobilemenu svg {
    font-size: 48px;
  }
  .dashbox {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    letter-spacing: 0.01071em !important;
    padding: 15px !important;
    text-align: center !important;
    height: 111px !important;
    margin: 7px !important;
  }
  .MuiInputBase-root.MuiOutlinedInput-root {
    max-width: 300px !important;
  }
  form.ProvidersForm-root-9 {
    width: 100% !important;
  }
  span.MuiSlider-markLabel {
    font-size: 8px !important;
  }
  p#input-slider {
    font-size: 13px;
  }
  .profileLogo.MuiBox-root.css-0 {
    position: relative;
    margin-top: -130px;
    background: #030c73;
    /* padding: 10px; */
    margin-left: 0px;
    border: 3px solid white;
    bottom: -54px;
    left: 5.1%;
    min-width: 106px !important;
    max-width: 106px !important;
    min-height: 106px !important;
    max-height: 106px !important;
  }
  .profileLogo.MuiBox-root.css-0 img {
    min-width: 106px !important;
    max-width: 106px !important;
    min-height: 106px !important;
    max-height: 106px !important;
  }
  .closedCartdiv {
    position: fixed;
    bottom: 0px !important;
  }
}
.MuiContainer-root.fotterBottom.secondaryColor {
  z-index: -1;
}
.membermenu a {
  color: #022b58;
  font-weight: 800 !important;
}

.activeMenu {
  background: #ea6300 !important;
  color: white !important;
}
.hide {
  display: none !important;
}

/* .footerBottom {
  bottom: 0;
  position: absolute;
}
 */
.daysroot {
   width:100%!important;
 }