body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionAbsolute.css-n7rtur-MuiPaper-root-MuiAppBar-root {
  position: fixed;
  top: 108px;
}

.MuiDrawer-root.MuiDrawer-docked.css-cvumne-MuiDrawer-docked a  
{
  color: rgb(29, 20, 20);
}

a {
  text-decoration: solid;
}
.MuiFormControl-root.MuiTextField-root {
  clear: both;
  float: left;
  width: 100%;
  height: 81px;
}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px;
}
.MuiInputBase-root.MuiOutlinedInput-root {
  min-width: 200px;
  margin-bottom: 25px;
}
label.MuiFormLabel-root.MuiFormLabel-colorPrimary.css-u4tvz2-MuiFormLabel-root {
  margin-top: 10px;
}
.MuiButton-textPrimary {
  color: #ffffff!important;
  background: rgb(105, 2, 62)!important;
}
.profileLogo.MuiBox-root.css-0 {
  position: relative;
  margin-top: -183px;
  background: #030c73;
  /* padding: 10px; */
  margin-left: 0px;
  border: 3px solid white;
  width: 209px;
  margin-left: auto;
  margin-right: auto;
  bottom: -32px;
}
.coverImage {
  max-height: 320px;
  max-width: 100%;
}
.filePicker.coverImage {
  width: 100px;
  margin: auto;
  bottom: 199px;
  position: relative;
}

.filePicker.profileImage {
  width: 100px;
  margin: auto;
  bottom: -29px;
  position: relative;
  left: 58px;
}

.booking_summary {
  background: orange;
  position: fixed;
  bottom: 0;
  width: 100%;
  left:0;
}

